.card{
    width: 200px;
    background-color: #211F2D;
    border-radius: 22px 22px;
    border: 1px solid rgb(189, 188, 188);
    margin: 30px 20px;    
    color: white;
    position: relative;
    z-index:1;
    font-family: 'Montserrat', sans-serif;
}

.hiddenContainer{
    display: none;
    transition: all 0.3s ease-in;
    height: 200px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 21px 21px 0px 0px;
}

.btn{
    margin: 80px 40px;
}

.card:hover .hiddenContainer{
    position: absolute;
    z-index: 1;
    display: block;
}

.topCard{
    height: 200px;
}

.cardImg{
    border-radius: 21px 21px 0px 0px;
}

.productName{
    text-align: center;
    font-size: 1rem;
    height: 30px;
}

.productPrice{
    text-align: center;
    padding-top: 10px;
}